body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0 !important;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.inverted {
  background: rgb(29, 40, 51) !important;
  transition-duration: 0.5s;
}

.ui {
  transition-duration: 0.5s;
}

.ui.inverted input {
  background: rgb(100, 104, 109) !important;
  color: rgb(179, 180, 171) !important;
}

.ui.inverted input::selection {
  background-color: rgb(228, 228, 228);
}

.ui.inverted input:focus {
  color: rgb(196, 197, 187) !important;
}

.post-list-image img {
  /* width: 85% !important; */
  margin-right: 20px !important;
  height: 165px !important;
}

.post-buttons button {
  margin-bottom: 0 !important;
}

.post-buttons .ui.small.buttons {
  margin-bottom: 0 !important;
}

.post-content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.ui.items>.item>.content {
  flex: initial !important;
}

.ui.icon.button .icon {
  font-size: 18px;
  margin-top: 5px !important;
}

.ui.icon.button {
  padding: 12.5px !important;
}

.posts-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100%;
}

.posts-header h3 {
  margin-top: 5px !important;
}

.search-box input {
  width: 300px;
  border-radius: 5px !important;
}

.post-button-group a {
  font-size: 1.2rem !important;
}

.pagination a:focus {
  outline: 0 !important;
}

.markdown-body {
  margin: 5px auto;
}

.admin-preview {
  height: 560px !important;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category-dropdown img {
  width: 21px !important;
  height: 20px !important;
  margin-top: -2px !important;
}
