.social-media {
  font-size: 2em;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  line-height: 0;
}


.icon-button i {
  color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
}

.social-media .linkedin i {
  background-color: #0e76a8;
}

.social-media .github i {
  background-color: #333;
}

.social-media .mail i {
  background-color: #57b68b;
}

/* Hover Transition */
.social-whiteMode i:hover {
  background-color: #bababa;
  transition: 0.3s ease-in;
}

.social-darkMode i:hover {
  background-color: #6c64fb;
  transition: 0.3s ease-in;
}
